/* Space out content a bit */
body {
    padding-top: 20px;
    padding-bottom: 20px;
    background: #FAFAFA;
    align-items: center;
    color: #607D8B;
    link: #FAFAFA;
}

.header {
    font-weight: bold;
    text-align: center;
}

.align-center {
    text-align:center;
}

.align-right {
    text-align: right;
}

.row {
    text-align: center;
}

.logo-dd, .logo-dd:hover {
    font-size: 80px;
    font-family: 'Arvo', serif;
    margin-bottom: 0px;
    padding-bottom: 0px;
    color: #CFD8DC;
    text-decoration: none;
    border: 0!;
}

a:hover {
    text-decoration: none;
}

.logo-sam {
    font-size: 30px;
    margin-top: -50px;
    font-family: 'Architects Daughter', cursive;
    color: #B0BEC5;
}

.logo-desc {
    margin-top: -17px;
    padding-bottom: 20px;
    font-family: 'Arvo', serif;
    font-size: 13.2px;
}

h2 {
    text-align: center;
}

.header-text {
    font-family: 'Architects Daughter', cursive;
}

.regular-text {
    font-family: 'Arvo', serif;
}

footer {
    color: #B0BEC5;
    text-align: center;
    padding-top: 10px;
    border-top: 1px solid #B0BEC5;
}

@media (min-width: 768px) {
  .container {
    max-width: 730px;
  }
}